.posts{
    flex: 9;
    height: auto;
  display: flex;
  /* justify-content: center;
  flex-direction: column;
  align-items: center; */
  flex-wrap: wrap;
}
.postItem{
  width: 385px;
  margin: 0px 25px 40px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.postItem img{
      margin-top: 17px;
        width: 385px;
        height: 280px;
        object-fit: cover;
        border-radius: 7px;
}

#tags{
    margin-bottom: 20px;
    color: gray;
}

.postItem h3{
    margin:0 0 20px 0 ;
}
#time{
    color: gray;
    margin-bottom: 20px;
}